/*Start Variables*/
:root {
    --mainColor: #19c8fa;
    --secondaryColor: #2c4755;
    --section-padding: 100px; 
}
/*End Variables*/

/*Start Global Rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*Small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*Large*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*End Global Rules*/

/*Start Header*/
.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 3;
  }

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
    background-color: #a2a2a2;
}

.header .container .logo .img {
    height: 40px;
}

.header .container nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .container nav ul {
    display: flex;
}

.header .container nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: .3s;
    padding: 40px 10px;
}

.header .container nav ul li a.active, 
.header .container nav ul li a:hover {
    color: var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
}

.header .container nav .search {
    margin-left: 30px;
    width: 40px;
    height: 30px;
    border-left: 2px solid #a2a2a2;
    position: relative;
}

.header .container nav .search i {
    position: absolute;
    font-size: 23px;
    color: white;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header .container nav>i {
    color: white;
    font-size: 23px;
    display: none;
}

@media (max-width: 767px) {
    .header .container nav>i {
        display: block;
        padding: 40px 10px;
    }
    .header .container nav ul {
        display: none;
    }
    .header .container nav>i:hover + ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #2c4755;
        top: 80%;
        width: 60%;
        z-index: 10;
    } 
    .header .container nav>i:hover + ul::before{
        content: "";
        position: absolute;
        border: 15px solid;
        border-color: transparent transparent #f6f6f6 transparent;
        right: 75px;
        top: -30px;

    }
    .header .container nav>i:hover + ul a {
        padding: 20px;
        margin: 0 ;
    }
    .header .container nav>i:hover + ul a:hover {
        padding-left: 40px;
        transition: .4s;
    }
}
/*End Header*/

/*Start Landing*/
.landing {
    background-image: url(../img/landing.jpg);
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.landing .overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .6);
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    min-height: 50%;
    transform: translateY(-50%);
    background-color: rgba(21, 102, 122, 0.7);
    color: white;
    padding: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
        justify-content: center;
    }
}

.landing .text .content {
    max-width: 500px;
}

.landing .text h2 {
    font-weight: normal;
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text p {
    font-size: 14px;
    line-height: 2;
}

@media (max-width: 300px) {
    .landing .text h2 {
        font-size: 20px;
    }
    .landing .text p {
        font-size: 12px;
    }
}

.landing .container .fa-angle-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    left: 20px;
    color: var(--mainColor);   
}

.landing .container .fa-angle-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    right: 20px;
    color: var(--mainColor);   
}

@media (max-width: 767px) {
    .landing .container .fa-angle-right,
    .landing .container .fa-angle-left {
        display: none;
    }
}

.landing .container .circle {
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.landing .container .circle li {
    width: 30px;
    height: 30px;
    list-style: none;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.landing .container .circle li.active {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}
/*End Landing*/

/*Start Components*/
.special-heading {
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
}

.special-heading h2 {
    font-weight: normal;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
}

@media (max-width: 767px) {
    .special-heading h2 {
        font-size: 30px;
    }
}

.special-heading h2::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: var(--mainColor);
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.special-heading h2::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid var(--mainColor);
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.special-heading p {
    color: #777;
    line-height: 2;
    width: 70%;
}
/*End Components*/

/*Start Services*/
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 60px;
    margin-top: 100px;
}

.services .services-content .box {
    padding: 60px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

.services .services-content .box i {
    position: absolute;
    top: 0;
    left: -15px;
}

@media (max-width: 767px) {
    .services .services-content {
        grid-template-columns: 1fr;
    }
    .services .services-content .box {
        text-align: center;
    }
    .services .services-content .box i {
        position: static;
        margin-bottom: 20px;
    }
    .services .services-content .box {
        padding: 0px;
    }
}

.services .services-content .box h3 {
    color: var(--mainColor);
    margin-bottom: 30px;
    font-size: 25px;
}

.services .services-content .box p {
    color: #777;
    line-height: 2;
    font-size: 18px;
}
/*End Services*/

/*Design*/
.design {
    height: 600px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../img/design-features.jpg);
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.design .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.design .image img {
    position: absolute;
    width: 350px;
    bottom: -10%;
}

.design .text {
    position: absolute;
    top: 50%;
    right: 0;
    width: 55%;
    min-height: 50%;
    transform: translateY(-50%);
    background-color: rgba(21, 102, 122, 0.7);
    color: white;
    padding: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 767px) {
    .design .text {
        width: 100%;
        justify-content: center;
    }
    .design .image img {
        display: none;
    }
}

.design .text h2 {
    font-weight: normal;
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.design .text ul li {
    padding: 15px 0;
}

.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
  }
  
/*End Design*/

/*Start Portfolio*/
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio ul {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.portfolio ul li {
    padding: 10px;
}

.portfolio ul li.active {
    background-color: var(--mainColor);
    color: white;
}

.portfolio .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 30px;
    justify-content: space-between;
}

.portfolio .boxes .box {
    
    position: relative;
    overflow: hidden;
}

.portfolio .boxes .box img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.portfolio .boxes .box .caption {
    width: 100%;
    padding: 20px;
    background-color: white;
    position: absolute;
    bottom: -100%;
    transition: 0.4s;
}

.portfolio .boxes .box .caption h4 {
    font-weight: normal;
}

.portfolio .boxes .box .caption p {
    margin-top: 10px;
    color: var(--mainColor);
}

.portfolio .boxes .box:hover .caption {
    bottom: 0;
}

.portfolio .boxes .box:hover img {
    transform: rotate(5deg) scale(1.2);
}

.portfolio .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .btn input {
    margin-top: 30px;
    background-color: var(--mainColor);
    color: white;
    padding: 10px 20px;
    border: none;
}
/*End Portfolio*/

/*Start Video*/
.video {
    position: relative;
}

.video::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    min-height: 20%;
    padding: 50px;
    transform: translateY(-50%);
    background-color: rgba(21, 102, 122, 0.7);
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video .text h2 {
    font-weight: normal;
}

.video .text p {
    margin: 30px;
}

.video .text button{
    width: fit-content;
    padding: 10px 20px;
    background-color: black;
    border: none;
    color: white;
    text-transform: uppercase;
}
/*End Video*/

/*Start About*/
.about {
    padding-top: var(--section-padding);
    height: 600px;
    overflow: hidden;
    text-align: center;
}
.about img {
    position: relative;
    max-width: 100%;
    padding-right: 15px;
    bottom: -120px;
}
/*End About*/

/*Start Stats*/
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-image: url(../img/stats.png);
    background-size: cover;
    overflow: hidden;
}

.stats .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.stats .stats-content {
    background-color: rgba(15, 88, 112, 0.8);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

@media (max-width: 767px) {
    .stats .stats-content {
        flex-direction: column;
    }
}

.stats .stats-content .box {
    padding: 30px;
    color: white;
    flex-basis: 25%;
    display: grid;
    justify-items: center;
    align-items: center;
}

@media (max-width: 991px) {
    .stats .stats-content .box {
        flex-basis: 50%;
    }
}

.stats .stats-content .box .icon {
    margin: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
}

.stats .stats-content .box .number {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
}
/*End Stats*/

/* Start Our Skills*/
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    column-gap: 10%;
}

@media (max-width: 991px) {
    .our-skills .container {
        flex-direction: column;
    }
    .our-skills .skills {
        margin-top: 50px;
    }
}

.our-skills .testimonials h2,
.our-skills .skills h2 {
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
}

.our-skills .testimonials>p,
.our-skills .skills p {
    width: 100%;
    line-height: 2;
    color: #777;
    margin-bottom: 50px;
    text-align: center;
}

.our-skills .testimonials .testimonials-content .box {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
}

.our-skills .testimonials .testimonials-content .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.our-skills .testimonials .testimonials-content .image img {
    width: 100%;
}

.our-skills .testimonials .testimonials-content .text {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-bottom: 2px solid var(--mainColor);
}

.our-skills .testimonials .testimonials-content .text p {
    line-height: 2;
}

@media (max-width: 767px) {
    .our-skills .testimonials .testimonials-content .box {
        flex-direction: column;
    }
    .our-skills .testimonials .testimonials-content .text p {
        text-align: center;
        margin-top: 10px;
    }
}

.our-skills .testimonials .testimonials-content .text h4 {
    font-weight: normal;
    color: #777;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.our-skills .testimonials .testimonials-content ul {
    display: flex;
    justify-content: center;
}

.our-skills .testimonials .testimonials-content ul li {
    width: 15px;
    height: 15px;
    list-style: none;
    border: 1px solid #777;
    margin-right: 10px;
    border-radius: 50%;
}

.our-skills .testimonials .testimonials-content ul li.active {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

.our-skills .skills .text h3 {
    font-weight: normal;
    text-transform: uppercase;
}

.our-skills .skills .text .prog {
    position: relative;
    height: 20px;
    width: 100%;
    background-color: #ddd;
    margin-top: 15px;
    margin-bottom: 30px;
}

.our-skills .skills .text .prog span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--mainColor);
}

.our-skills .skills .text .prog span::before {
    content: attr(data);
    position: absolute;
    top: -40px;
    right: -20px;
    background-color: black;
    color: white;
    padding: 5px 0;
    width: 40px;
    border-radius: 4px;
    text-align: center;
}

.our-skills .skills .text .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent transparent;
    right: -8px;
    top: -15px;
}
/* End Our Skills*/

/*Start Quote*/
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../img/quote.jpg);
    background-size: cover;
    position: relative;
}

.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.quote .text {
    text-align: center;
    color: white;
    position: relative;
}

.quote .text q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
/*End Quote*/

/*Start Pricing*/
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plans .plan {
    background-color: #f6f6f6;
    text-align: center;
    border-top: 1px solid var(--mainColor);
    
}

.pricing .plans .plan .head {
    padding: 40px 20px;
}

.pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: bold;
}

.pricing .plans .plan .head span::before {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
}

.pricing .plans .plan .head span::after {
    content: "/Mo";
    font-size: 25px;
    position: relative;
    right: -15px;
}

.pricing .plans .plan ul {
    border-top: 1px solid var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
}

.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}

.pricing .plans .plan ul li:not(:last-child):before {
    content: "";
    position: absolute;
    width: 55%;
    height: 1px;
    background-color: var(--mainColor);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pricing .plans .plan .foot a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid var(--mainColor);
    width: fit-content;
    margin: 30px auto;
    color: black;
    transition-duration: .3s;
}

.pricing .plans .plan .foot a:hover {
    background-color: var(--mainColor);
    color: white;
}


.pricing .text {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.pricing .text a {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    background-color: var(--mainColor);
    width: fit-content;
    margin: 20px auto;
    color: white;
}
/*End Pricing*/

/* Start Subscribe*/
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../img/subscribe.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.subscribe::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.subscribe .subscribe-content {
    display: flex;
    position: relative;
    align-items: center;
    column-gap: 50px;
}

@media (max-width: 991px) {
    .subscribe .subscribe-content {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}

.subscribe .subscribe-content form {
    display: flex;
    width: 80%;
    height: 60px;
    position: relative;
}

@media (max-width: 991px) {
    .subscribe .subscribe-content form {
        width: 75%;
    }
}

@media (max-width: 767px) {
    .subscribe .subscribe-content form {
        width: 100%;
    }
}

.subscribe .subscribe-content form input:first-of-type {
    background-color: transparent;
    border: none;
    color: white;
    border: 1px solid white;
    border-right: none;
    padding: 20px;
    padding-left: 65px;
    caret-color: var(--mainColor);
    width: 100%;
}

.subscribe .subscribe-content form input:first-of-type::placeholder {
    color: white;
}

.subscribe .subscribe-content form input:first-of-type:focus {
    outline: none;
}

.subscribe .subscribe-content form i {
    position: absolute;
    color: var(--mainColor);
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    left: 20px;
}

.subscribe .subscribe-content form input:last-of-type {
    background-color: var(--mainColor);
    border: 1px solid white;
    border-left: none;
    color: white;
    padding: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.subscribe .subscribe-content p {
    font-size: 16px;
    line-height: 2;
    color: white;
}
/* End Subscribe*/

/* Start Contact*/
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .contact-content {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact .contact-content form {
    flex-basis: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.contact .contact-content form input:not(:last-of-type),
.contact .contact-content form textarea {
    width: 1000%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
}

.contact .contact-content form input:not(:last-of-type):focus,
.contact .contact-content form textarea:focus {
    outline: none;
}

.contact .contact-content form input:last-of-type {
    border: none;
    background-color: var(--mainColor);
    color: white;
    cursor: pointer;
    padding: 20px;
    text-transform: uppercase;
}

.contact .contact-content .info {
    flex-basis: 25%;
}

@media (max-width: 767px) {
    .contact .contact-content {
        flex-direction: column;
    }
    .contact .contact-content .info {
        order: -1;
        text-align: center;
    }
}

.contact .contact-content .info h4 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}

.contact .contact-content .info h4:last-of-type {
    margin-top: 100px;
}

.contact .contact-content .info span,
.contact .contact-content .info address {
    display: block;
    font-size: 16px;
    line-height: 2;
    color: #777;
}

@media (max-width: 767px) {
    .contact .contact-content .info h4:last-of-type {
        margin-top: 30px;
    }
    .contact .contact-content .info address {
        margin-bottom: 30px;
    }
}
/* End Contact*/

/* Start Footer*/
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/subscribe.jpg);
    background-size: cover;
    position: relative;
}

.footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.footer .footer-content {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.footer .footer-content p:first-of-type {
    margin-top: 40px;
    padding: 20px;
    font-size: 25px;
    border-bottom: 1px solid white;
}

.footer .footer-content .social {
    padding: 30px;
}

.footer .footer-content .social i {
    padding-right: 20px;
}

.footer .footer-content p:last-of-type {
    margin-top: 40px;
}

.footer .footer-content p:last-of-type span {
    color: var(--mainColor);
    font-weight: bold;
}
/* End Footer*/